{% extends 'layout.html' %}

{% block body %}
    <h1>
        About Us
    </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, voluptates iusto. Ipsam, illum. Necessitatibus numquam nam quos, iste illum nostrum veritatis accusantium eaque recusandae doloremque maxime dolorum nihil, non iusto voluptas quibusdam possimus, sequi optio adipisci id! Vitae quasi ducimus quos aspernatur officia reiciendis facere at velit. Ratione ex, blanditiis atque similique iste earum vero enim in quaerat architecto magnam accusantium fugit porro, maxime quia, reprehenderit aperiam beatae. Minus error sequi officia id asperiores nisi rerum quis. Nesciunt, nam nostrum? Odit omnis nemo, libero dolores voluptates quae magnam repellat assumenda reiciendis vel quibusdam est optio ipsam officiis necessitatibus nisi ipsum!
    </p>
{% endblock %}